name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
    tags: '*'
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Initialize submodules
        run: |
          git config --global url."https://github.com/".insteadOf git@github.com:
          git submodule update --init --recursive --depth=1
      
      - name: Verify test-bed submodule
        run: ls -alR test-bed
        
      - name: Clone dependent projects
        run: |
          git clone --branch 0.1.3.0 https://github.com/Cloud-Solutions-International/antikythera-common.git ../antikythera-common
          git clone --branch 0.1.3.0 https://github.com/Cloud-Solutions-International/antikythera-agent.git ../antikythera-agent
          git clone --branch 0.1.3.0 https://github.com/Cloud-Solutions-International/antikythera.git ../antikythera
          git clone --branch 0.1.3.0 https://github.com/Cloud-Solutions-International/antikythera-test-helper.git ../antikythera-test-helper
          git clone --branch 0.1.3.0 https://github.com/Cloud-Solutions-International/antikythera-sample-project.git ../antikythera-sample-project

      - name: Patch Antikythera
        run: |
           # Fix compilation error in Evaluator.java (remove invalid @Override)
           sed -i '1617d' ../antikythera/src/main/java/sa/com/cloudsolutions/antikythera/evaluator/Evaluator.java

      - name: Set up JDK 21 with Temurin
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build antikythera-common
        run: cd ../antikythera-common && MAVEN_OPTS="--add-opens java.base/java.util.stream=ALL-UNNAMED --add-exports java.base/java.util.stream=ALL-UNNAMED" mvn clean install -DskipTests

      - name: Build antikythera-agent
        run: cd ../antikythera-agent && MAVEN_OPTS="--add-opens java.base/java.util.stream=ALL-UNNAMED --add-exports java.base/java.util.stream=ALL-UNNAMED" mvn clean install  -DskipTests

      - name: Build antikythera
        run: cd ../antikythera && MAVEN_OPTS="--add-opens java.base/java.util.stream=ALL-UNNAMED --add-exports java.base/java.util.stream=ALL-UNNAMED" mvn clean install  -DskipTests

      - name: Build and Test
        run: MAVEN_OPTS="--add-opens java.base/java.util.stream=ALL-UNNAMED --add-exports java.base/java.util.stream=ALL-UNNAMED" mvn clean install

      - name: Generate JaCoCo report
        run: mvn jacoco:report

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: target/site/jacoco/jacoco.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
